{% extends "base.html" %}

{% block title %}
Call Back List - Call Manager
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8"> <!-- Ширина контейнера -->
        <div class="card">
            <div class="card-header text-center">
                <h3>List Callbacks</h3>
            </div>
            <div class="card-body text-center">
                {% for number in callback_numbers %}
                <div class="number-container" style="position: relative; margin-bottom: 20px; padding: 30px 20px; height: auto; border-radius: 25px; background-color: #f5f5f5;"> <!-- Увеличил паддинги и убрал фиксированную высоту -->

                    <span class="user-position" style="position: absolute; top: 10px; left: 10px;">{{ number.updated_by }}</span>
                    <span class="date-position" style="position: absolute; top: 10px; right: 10px;">{{ number.done_at }}</span>
                    <h4 id="phoneNumber" class="text-center" style="margin-top: 20px;">{{ number.phone_number }} </h4>
                    <div class="text-center">
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#details{{ number.form.recipient_id.value }}">Інфо</button>
                    </div>

                    <div id="details{{ number.form.recipient_id.value }}" class="collapse mt-3">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th><i class="fas fa-user"></i> Name</th>
                                <td>{{ number.recipient.name }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-phone-alt"></i> Phone</th>
                                <td>{{ number.phone_number }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-map-marker-alt"></i> Oblast</th>
                                <td>{{ number.recipient.state }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-building"></i> City (place)</th>
                                <td>{{ number.recipient.place }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-calendar-day"></i> Date distr</th>
                                <td>{{ number.recipient.date_distribution }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-venus-mars"></i> Gender</th>
                                <td>{{ number.recipient.get_gender_display }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-birthday-cake"></i> Age</th>
                                <td>{{ number.recipient.age }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-hands-helping"></i> Volunteers</th>
                                <td>{{ number.recipient.volunteer }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-gift"></i> Items</th>
                                <td>
                                    <ul>
                                        {% for item in number.recipient.items_received.all %}
                                        <li>{{ item.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <!-- И так далее для каждого поля -->
                            </tbody>
                        </table>

                        <!-- Контейнер для кнопок -->
                        <div class="button-group text-center">

                            <!-- Contacted button -->
                            <form method="post" action="{% url 'callback_view' %}">
                                {% csrf_token %}
                                {{ number.form.recipient_id.as_hidden }}
                                <button type="submit" class="btn btn-success" name="new_status" value="done">Received
                                </button>
                            </form>

                            <!-- Call Back button -->
                            <form method="post" action="{% url 'callback_view' %}">
                                {% csrf_token %}
                                {{ number.form.recipient_id.as_hidden }}
                                <button type="submit" class="btn btn-purple" name="new_status" value="call_back">Call Back

                                </button>
                            </form>

                            <!-- Don't Want button -->
                            <form method="post" action="{% url 'callback_view' %}">
                                {% csrf_token %}
                                {{ number.form.recipient_id.as_hidden }}
                                <button type="submit" class="btn btn-danger" name="new_status" value="refused">Dont want
                                </button>
                            </form>



                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">There are currently no callback numbers available.</p>
                {% endfor %}

                {% if messages %}
                <div class="messages text-center">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

