/* styles.css */

.list-group-item {
    border-radius: 15px; /* Добавляет округлые углы */
    background-color: #e5f4fc; /* Цвет фона немного синеватый */
    border: none; /* Убираем стандартные границы */
    margin-bottom: 8px; /* Добавляем немного отступа между элементами списка */
    color: #000; /* Черный цвет текста */
}
