<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Call Manager{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon.png' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}



</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'index' %}">Call Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://ee-eu.kobotoolbox.org/x/qG6jAl5d" target="_blank">Form</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'statistic_view' %}">Statistic</a>
            </li>
            {% if user.is_authenticated and user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'superuser_statistics' %}">Personality</a>
            </li>
            {% endif %}


            <li class="nav-item">
                <a class="nav-link" href="{% url 'done_calls' %}">Done Calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'callback_view' %}">Call Back <span id="callback-notification"
                                                                                     class="badge badge-light"
                                                                                     style="display: none;"></span></a>
            </li>
            <!-- Другие пункты меню, если потребуются -->
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container mt-5">
    {% block content %}
    <!-- Content will go here -->
    {% endblock %}
</div>

<!-- Bootstrap JS, Popper.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
